<div>
  <div class="sort-result">
    <div class="result-text">
      <% if params[:string_input] && params[:strategy] %>
        <h3>The result is:</h3>
        <h1><%= @string_in_order %></h1>
      <% else %>
        <h1>String Sorter</h1>
      <% end %>
    </div>
  </div>
  <%= form_with url: "/", method: :get  do |f| %>
    <div class="form-container">
      <div class="form-section-1">
        <%= f.text_field :string_input, class: "form-control", id: "string_input",  placeholder: "Enter a string to sort" %>
      </div>
      <div class="form-section-2">
        <%= f.select :strategy, [["Bubble Sort", "bubblesort"], ["Merge Sort", "mergesort"]] %>
        <%= f.submit :Submit, class: "btn" %>
      </div>
    </div>
  <% end %>
</div>